<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Inventory_management</display-name>
  <welcome-file-list>
   <welcome-file>home.html</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Admin_Login</display-name>
    <servlet-name>Admin_Login</servlet-name>
    <servlet-class>inventory_services.Admin_Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_Login</servlet-name>
    <url-pattern>/Admin_Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_Raw</display-name>
    <servlet-name>Add_Raw</servlet-name>
    <servlet-class>inventory_services.Add_Raw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_Raw</servlet-name>
    <url-pattern>/Add_Raw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete_Raw_Material</display-name>
    <servlet-name>Delete_Raw_Material</servlet-name>
    <servlet-class>inventory_services.Delete_Raw_Material</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete_Raw_Material</servlet-name>
    <url-pattern>/Delete_Raw_Material</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete_Raw</display-name>
    <servlet-name>Delete_Raw</servlet-name>
    <servlet-class>inventory_services.Delete_Raw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete_Raw</servlet-name>
    <url-pattern>/Delete_Raw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Raw_Update</display-name>
    <servlet-name>Raw_Update</servlet-name>
    <servlet-class>inventory_services.Raw_Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Raw_Update</servlet-name>
    <url-pattern>/Raw_Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_Stock</display-name>
    <servlet-name>Add_Stock</servlet-name>
    <servlet-class>inventory_services.Add_Stock</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_Stock</servlet-name>
    <url-pattern>/Add_Stock</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete_Stock</display-name>
    <servlet-name>Delete_Stock</servlet-name>
    <servlet-class>inventory_services.Delete_Stock</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete_Stock</servlet-name>
    <url-pattern>/Delete_Stock</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Stock_Update</display-name>
    <servlet-name>Stock_Update</servlet-name>
    <servlet-class>inventory_services.Stock_Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Stock_Update</servlet-name>
    <url-pattern>/Stock_Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Invoice_Bill</display-name>
    <servlet-name>Invoice_Bill</servlet-name>
    <servlet-class>inventory_services.Invoice_Bill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Invoice_Bill</servlet-name>
    <url-pattern>/Invoice_Bill</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_Customer</display-name>
    <servlet-name>Add_Customer</servlet-name>
    <servlet-class>inventory_services.Add_Customer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_Customer</servlet-name>
    <url-pattern>/Add_Customer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Issued_Raw_Material</display-name>
    <servlet-name>Issued_Raw_Material</servlet-name>
    <servlet-class>inventory_services.Issued_Raw_Material</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Issued_Raw_Material</servlet-name>
    <url-pattern>/Issued_Raw_Material</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Order_Raw</display-name>
    <servlet-name>Order_Raw</servlet-name>
    <servlet-class>inventory_services.Order_Raw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Order_Raw</servlet-name>
    <url-pattern>/Order_Raw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_Sales_M</display-name>
    <servlet-name>Add_Sales_M</servlet-name>
    <servlet-class>inventory_services.Add_Sales_M</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_Sales_M</servlet-name>
    <url-pattern>/Add_Sales_M</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login_Sales_M</display-name>
    <servlet-name>Login_Sales_M</servlet-name>
    <servlet-class>inventory_services.Login_Sales_M</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_Sales_M</servlet-name>
    <url-pattern>/Login_Sales_M</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Issued_Stock_Material</display-name>
    <servlet-name>Issued_Stock_Material</servlet-name>
    <servlet-class>inventory_services.Issued_Stock_Material</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Issued_Stock_Material</servlet-name>
    <url-pattern>/Issued_Stock_Material</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_Sales_W</display-name>
    <servlet-name>Add_Sales_W</servlet-name>
    <servlet-class>inventory_services.Add_Sales_W</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_Sales_W</servlet-name>
    <url-pattern>/Add_Sales_W</url-pattern>
  </servlet-mapping>
</web-app>